{%extends "layout.html"%}

{% block main %}
<div class="study-container">
    <div class="question" id="question">{{ question }}</div>
        <div class="question-image" id="question-image">
            {% if question_image %}
                <img src="{{ url_for('static', filename='uploads/' ~ question_image) }}" alt="Question Image" style="max-width: 100%; height: auto;">
            {% endif %}
        </div>
    <div class="answer" id="answer" style="display: none;">{{ answer }}</div>
    <div class="answer-image" id="answer-image" style="display: none;">
            {% if answer_image %}
                <img src="{{ url_for('static', filename='uploads/' ~ answer_image) }}" alt="Answer Image" style="max-width: 100%; height: auto;">
            {% endif %}
        </div>
    <div id="card-id" style="display: none;">{{ card_id }}</div>
    <div class="button-container">
        <button class="btn" id="reveal-btn">Reveal Answer</button>
        <button class="btn" id="next-btn">Next Card</button>    
    </div>
    <div class="score-button-container" id="score-buttons" style="display: none;">
        <button class="btn" id="score-button" value="1">Again</button>
        <button class="btn" id="score-button" value="2">Hard</button>
        <button class="btn" id="score-button" value="3">Good</button>
        <button class="btn" id="score-button" value="4">Easy</button>
    </div>
</div>

<script>
    document.getElementById('reveal-btn').addEventListener('click', function() {
        document.getElementById('answer').style.display = 'block';
        this.style.display = 'none';
        document.getElementById('score-buttons').style.display = 'block';
        document.getElementById('answer-image').style.display = 'block';
    });

    document.getElementById('next-btn').addEventListener('click', function() {
        window.location.reload();
    });

    const scoreButtons = document.querySelectorAll('#score-button');
    scoreButtons.forEach(button => {
        button.addEventListener('click', async function() {
            const score = this.value;
            const payload = { four_score: score };
            const cardId = document.getElementById('card-id').textContent;

            try {
                await fetch(`/api/v1/update_score/${cardId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(payload)
                });
            } catch (err) {
                console.error('Failed to send score:', err);
            }
            window.location.reload();
        });
    });

</script>
{% endblock %}